@import url(/public/styles/global.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p {
    margin-bottom: 30px;
}

#sign-up-button {
    visibility: hidden;
}

@media (max-width: 475px) {
    .container {
        width: calc(100% - 30px);
    }
}